{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register" class="button">
    </form>
    <div class="nav-link">
        <a href="/login" class="button">Already have an account? Login</a>
    </div>
</div>
{% endblock %}
